<div class="component login-cmp">
    <div class="form-container">
        <form class="login-container" id="login-container" [formGroup]="loginForm">
            <h1 class="title h1">Log In</h1>
            <p class="desc">Login to your account to create a menu for your restuarant</p>
            <div class="input-block">
                <div class="input-container">
                    <input formControlName="email" type="email" placeholder="Email Address *" required="true" />
                </div>
                <div
                    class="error"
                    [ngClass]="(email?.invalid && (email?.dirty || email?.touched)) ? 'show' : 'hide'"
                >
                   <span>Please Enter a valid Email address.</span>
                </div>
            </div>
            <div class="input-block">
                <div class="input-container">
                    <input type="password" placeholder="Password *" required="true" formControlName="password" />
                </div>
                <div
                        class="error"
                        [ngClass]="(password?.invalid && (password?.dirty || password?.touched)) ? 'show' : 'hide'"
                    >
                    <span>Password must be atleast 8 characters</span>
                </div>
            </div>
            <div class="account-controls">
                <a class="primary-link" routerLink="/sign-up">Forgot Password?</a>
                <button (click)="handleLogin()" class="primary-btn">Log In <i class="fas fa-solid fa-angle-right"></i></button>
            </div>

            <span class="line"></span>
            <span class="small-text">Or log in with</span>
            <div class="social-logins">
                <button class="social-login"><i style="color:#1e7bf2" class="fas fa-brands fa-facebook-f"></i></button>
                <button class="social-login"><i style="color:#ea4335" class="fas fa-brands fa-google"></i></button>
            </div>
            <span class="small-text">Don't have an account yet? <a routerLink="/sign-up" class="small-text primary-link" id="signup-form-toggler">Sign up</a></span>
        </form>
        <div class="placeholder-banner"  id="banner">
            <img src="assets/food.jpg" alt="" class="banner">
        </div>

        
    </div>
</div>