.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 100px;
    align-items: center;
    background-color: #94486c;

    & ul {
        display: flex;
        & li {
            display: flex;
            align-items: center;
        }
        & a,
        & button {
            margin-right: 24px;
            cursor: pointer;
            font-size: 1.6rem;
            text-decoration: none;
            background-color: transparent;
            border: none;
            color: var(--color-white);
        }
    }
}