<div class="component login-cmp">
    <div class="form-container">
        <div *ngIf="inProgress" class="loader">
            <mat-progress-spinner
                class="example-margin"
                color="primary"
                mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <form class="login-container" id="login-container" [formGroup]="signUpForm">
            <h1 class="title h1">Sign Up</h1>
            <p class="desc">Sign Up to create your account and create a menu for your restuarant</p>
            <div class="input-block">
                <div class="input-container">
                    <input type="text" formControlName="fullName" placeholder="Full Name *" required="true" />
                    
                </div>
                <div
                        class="error"
                        [ngClass]="(fullName?.invalid && (fullName?.dirty || fullName?.touched)) ? 'show' : 'hide'"
                    >
                        <span>Please enter valid email address.</span>
                </div>
            </div>
            <div class="input-block">
                <div class="input-container">
                    <input formControlName="email" type="email" placeholder="Email Address *" required="true" />
                </div>
                <div
                    class="error"
                    [ngClass]="(email?.invalid && (email?.dirty || email?.touched)) ? 'show' : 'hide'"
                >
                   <span>Please Enter a valid Email address.</span>
                </div>
            </div>
            <div class="input-block">
                <div class="input-container">
                    <input type="password" placeholder="Password *" required="true" formControlName="password" />
                </div>
                <div
                        class="error"
                        [ngClass]="(password?.invalid && (password?.dirty || password?.touched)) ? 'show' : 'hide'"
                    >
                    <span>Password must be atleast 8 characters</span>
                </div>
            </div>
            <div class="input-block">
                <div class="input-container">
                    <input type="password" placeholder="Confirm Password *" required="true" formControlName="confirmPassword" />
                </div>
                <div
                        class="error"
                        [ngClass]="(confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)) ? 'show' : 'hide'"
                    >
                    <span>Password's are not matching</span>
                </div>
            </div>
            <div class="account-controls">
                <button [disabled]="!isValidForm" (click)="handleSignUp()" class="primary-btn">Sign Up <i class="fas fa-solid fa-angle-right"></i></button>
            </div>

            <span class="line"></span>
            <span class="small-text">Or Sign Up with</span>
            <div class="social-logins">
                <button class="social-login"><i style="color:#1e7bf2" class="fas fa-brands fa-facebook-f"></i></button>
                <button class="social-login"><i style="color:#ea4335" class="fas fa-brands fa-google"></i></button>
            </div>
            <span class="small-text">Already have an account ? <a routerLink="/log-in" class="small-text primary-link" id="signup-form-toggler">Log In</a></span>
        </form>
        <div class="placeholder-banner"  id="banner">
            <img src="assets/food.jpg" alt="" class="banner">
        </div>

        
    </div>
</div>