<div class="component login-cmp">
    <div class="form-container">
        <form class="login-container" id="login-container">
            <h1 class="title h1">Sign Up</h1>
            <p class="desc">Sign Up to create your account and create a menu for your restuarant</p>
            <div class="input-container">
                <input type="text" placeholder="Full Name *" required="true">
            </div>
            <div class="input-container">
                <input type="email" placeholder="Email Address *" required="true">
            </div>
            <div class="input-container">
                <input type="password" placeholder="Password *" required="true">
            </div>
            <div class="input-container">
                <input type="password" placeholder="Confirm Password *" required="true">
            </div>
            <div class="account-controls">
                <button class="primary-btn">Sign Up <i class="fas fa-solid fa-angle-right"></i></button>
            </div>

            <span class="line"></span>
            <span class="small-text">Or Sign Up with</span>
            <div class="social-logins">
                <button class="social-login"><i style="color:#1e7bf2" class="fas fa-brands fa-facebook-f"></i></button>
                <button class="social-login"><i style="color:#ea4335" class="fas fa-brands fa-google"></i></button>
            </div>
            <span class="small-text">Already have an account ? <a routerLink="/log-in" class="small-text primary-link" id="signup-form-toggler">Log In</a></span>
        </form>
        <div class="placeholder-banner"  id="banner">
            <img src="assets/food.jpg" alt="" class="banner">
        </div>

        
    </div>
</div>