<div class="component menu-item">
  <div class="input-content">
    <div class="input-container">
      <input
        [(ngModel)]="name"
        (ngModelChange)="saveComponentData()"
        class="input"
        name="item"
        placeholder="Item Name"
      />
    </div>
    <div class="input-container">
      <input
        [(ngModel)]="price"
        (ngModelChange)="saveComponentData()"
        class="input"
        name="price"
        placeholder="Item Price"
      />
    </div>
    <button (click)="deleteComponent()" class="secondary-btn">DELETE</button>
  </div>
</div>
