<div class="component ord-menu-item">
    <div class="content">
        <div class="input-container">
            <input class="input" placeholder="Enter the type of food, for eg Starters, Desserts, Main Course" />
        </div>
        <div class="food-items">
            <div class="food-items__content">
                <div class="menu-items">
                    <div #foodItems></div>
                </div>
                <button class="link-btn" (click)="addMenuItem()">
                    ADD ITEMS
                </button>

            </div>
        </div>
    </div>
</div>