.list-res {
  & .h1 {
    text-align: center;
    margin: 48px auto;
  }
  & .item {
    padding: 16px;
    & h3 {
      font-size: 2.4rem;
      margin: 0;
    }
  }
}

.item-list {
  display: flex;

  gap: 1rem;
}

.item {
  cursor: pointer;
  border: 1px solid var(--color-border-dark);
  padding: 1rem;
  transition: all 0.4s;
  border-radius: 8px;
  background: #fff;
  width: 75vw;
  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
}
.subtitle {
  font-size: 0.9rem;
  color: #666;
}
