<div class="component lunch-item">
  <div class="lunch-item__content">
    <div class="top-section">
      <div class="checkbox-container">
        <label for="closed">Closed on this day?</label>
        <input
          [(ngModel)]="isClosed"
          [checked]="isClosed"
          (change)="handleClosed()"
          type="checkbox"
          id="closed"
        />
      </div>
      <button (click)="saveDay()" class="primary-btn">SAVE</button>
    </div>
    <div class="input-section">
      <div class="input-container">
        <input
          [disabled]="isClosed"
          [(ngModel)]="openingTime"
          class="input"
          name="openingTime"
          id="openingTime"
          placeholder="Open Time"
        />
      </div>
      <div class="input-container">
        <input
          [disabled]="isClosed"
          [(ngModel)]="closingTime"
          class="input"
          name="closingTime"
          id="closingTime"
          placeholder="Close Time"
        />
      </div>
      <div class="input-container">
        <input
          [disabled]="isClosed"
          [(ngModel)]="lunchTime"
          class="input"
          name="lunchTime"
          id="lunchTime"
          placeholder="Lunch Time"
        />
      </div>
      <div class="menu-items-content">
        <p class="desc">LUNCH ITEMS</p>
        <div class="menu-items">
          <div #menuItems></div>
        </div>
        <div class="btn-section">
          <button
            [disabled]="isClosed"
            class="link-btn"
            (click)="handleAddItem()"
          >
            Add Lunch Item
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
