<div class="component create-lunch">
  <mat-tab-group>
    <mat-tab label="MONDAY">
      <app-lunch-item
        [week]="'monday'"
        [data]="weekMenu['monday']"
        (saveMenu)="handleSaveMenu($event)"
      ></app-lunch-item>
    </mat-tab>
    <mat-tab label="TUESDAY">
      <app-lunch-item
        [week]="'tuesday'"
        [data]="weekMenu['tuesday']"
        (saveMenu)="handleSaveMenu($event)"
      ></app-lunch-item>
    </mat-tab>
    <mat-tab label="WEDNESDAY">
      <app-lunch-item
        [week]="'wednesday'"
        [data]="weekMenu['wednesday']"
        (saveMenu)="handleSaveMenu($event)"
      ></app-lunch-item>
    </mat-tab>
    <mat-tab label="THURSDAY">
      <app-lunch-item
        [week]="'thursday'"
        [data]="weekMenu['thursday']"
        (saveMenu)="handleSaveMenu($event)"
      ></app-lunch-item>
    </mat-tab>
    <mat-tab label="FRIDAY">
      <app-lunch-item
        [data]="weekMenu['friday']"
        [week]="'friday'"
        (saveMenu)="handleSaveMenu($event)"
      ></app-lunch-item>
    </mat-tab>
    <mat-tab label="SATURDAY">
      <app-lunch-item
        [week]="'saturday'"
        [data]="weekMenu['saturday']"
        (saveMenu)="handleSaveMenu($event)"
      ></app-lunch-item>
    </mat-tab>
    <mat-tab label="SUNDAY">
      <app-lunch-item
        [week]="'sunday'"
        [data]="weekMenu['sunday']"
        (saveMenu)="handleSaveMenu($event)"
      ></app-lunch-item>
    </mat-tab>
  </mat-tab-group>
  <div class="ele-container">
    <button (click)="navigateToRestaurant()" class="primary-btn">
      <i class="fas fa-solid fa-angle-left"></i>Back
    </button>
    <button (click)="navigateToOrdinary()" class="primary-btn">
      Create Daily Menu <i class="fas fa-solid fa-angle-right"></i>
    </button>
  </div>
</div>
