<div class="component create-lunch">
    <mat-tab-group>
        <mat-tab label="MONDAY">
            <app-lunch-item></app-lunch-item>
        </mat-tab>
        <mat-tab label="TUESDAY"> <app-lunch-item></app-lunch-item> </mat-tab>
        <mat-tab label="WEDNESDAY"> <app-lunch-item></app-lunch-item> </mat-tab>
        <mat-tab label="THURSDAY"> <app-lunch-item></app-lunch-item> </mat-tab>
        <mat-tab label="FRIDAY"> <app-lunch-item></app-lunch-item> </mat-tab>
        <mat-tab label="SATURDAY"> <app-lunch-item></app-lunch-item> </mat-tab>
        <mat-tab label="SUNDAY"> <app-lunch-item></app-lunch-item> </mat-tab>
    </mat-tab-group>
</div>